.header {
    background-image: url(./img/header.jpg);
}

.general-title {
    color: #fff;
}

.content {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    padding: 50px 0 50px 0;
}

.movie-item {
    width: 180px;
    height: 330px;
    position: relative;
}

.movie-poster {
    width: 180px;
    height: 270px;
}

.movie-label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}

.movie-genre {
    position: absolute;
    bottom: 0;
    left: 0;
}

.title {
    width: 100%;
}