.header {
    background-image: url(./img/header.jpg);
}

.general-title {
    color: #fff;
}

.content {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    padding: 50px 0 50px 0;
}

.movie-item {
    width: 180px;
    height: 380px;
    position: relative;
    margin-bottom: 20px;
    margin-right: 8px;
}

.movie-poster {
    width: 180px;
    height: 270px;
}

.movie-label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}

.movie-genre {
    width: 100%;
    height: 36px;
    border-top: 2px solid #D84315;
    border-bottom: 2px solid #D84315;
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    align-items: baseline;
}

.title {
    width: 100%;
}

.film-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.film {
    display: flex;
    flex-direction: column;
    width: 600px;
    align-items: center;
}

.button {
    height: 30px;
    width: 100px;
    border: solid 1px #DD2C00;
    border-radius: 5px;
    text-align: center;
    padding-top: 6px;
    margin-top: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: ease .3s;
    cursor: pointer;
}

.button:hover, .search-button.button:hover {
    background-color: #E64A19;
    transition: ease .3s;
}

.search-button.button {
    background-color: #FF8A65;
    transition: ease .3s;
}

.search-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-title {
    font-size: 28px;
    font-weight: bold;
    color: aliceblue;
}

.search-tools {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 25px;
    height: 100px;
    color: wheat;
}

.search-by-label {
    margin: 0 16px;
}

.search-tools > input[type='text'] {
    height: 25px;
}

/* styling radiobuttons on searchpanel */
.radio input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 7px;
  }
  .radio__text {
    position: relative;
    padding: 0 0 0 30px;
    cursor: pointer;
    margin-right: 20px;
  }
  .radio__text:before {
    content: '';
    position: absolute;
    top: -3px;
    left: 0;
    width: 22px;
    height: 22px;
    border: 1px solid #CDD1DA;
    border-radius: 50%;
    background: #FFF;
  }
  .radio__text:after {
    content: '';
    position: absolute;
    top: 1px;
    left: 4px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #9FD468;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.5);
    opacity: 0;
    transition: .2s;
  }
  .radio input:checked + .radio__text:after {
    opacity: 1;
  }
  .radio input:focus + .radio__text:before {
    box-shadow: 0 0 0 3px rgba(255,255,0,.7);
  }
  /* end of styling radiobuttons*/

  @media all and (max-width: 480px) {
      .search-tools {
          flex-direction: column;
          align-items: flex-start;
      }
      .header {
          height: 280px;
      }
  }